.carouselCards{
    margin-top: 6px;
    margin-bottom:-17px;
}
.slide{
    width: 97vw;
    height: 50vh !important;
}
.w-100{
    width: 55%!important;
    margin-left: 25vw;
    border-radius: 14px;
}
.carousel-control-prev-icon{
    background-image:url('../images/left-arrow-chevron.svg') !important;
}
.carousel-control-next-icon{
    background-image:url('../images/right-arrow.svg') !important;
}