/* .footerPanel{
    display:block;
} */
.supportSection{
    background-color:#404043;
    padding:15px;

}
.custSupport {
    display:block;
    margin-left:0 auto;
    margin-right:0 auto;
}
.custSupport div img {
    width:40px;
}
.custSupport a {
    font-size:14px;
    color:#a5a5a5!important;
}
.supportSection .row{
    margin-left: 6vw;
    margin-right: 6vw;
}
.col-md-4{
    text-align:center;
}
.row .col-md-4:hover{
    cursor:pointer;
    color:white !important;
}
.locationBookings{
    color:#a5a5a5 ;
    padding:2vw;
    background-color:#313035;
    font-size:11px;
}
.locationBookings span a:hover{
    color:white !important;
    cursor:pointer;
}
.footerContent{
    padding:30px;
    font-size:12px;
    color:#a5a5a5 ;
    background-color:#333338;
}
.liTitle{
    margin-bottom:10px;
}
.footerContent ul li {
    /* text-decoration: none !important; */
    list-style-type: none;
}
.footerLinks div ul li a:hover{
    cursor:pointer;
    color:white !important;
}
.footerEnd{
    position:realtive;
}
.bmsLogo{
    text-align:center;
}
.bmsLogo span{
    z-index: 10;
    position: relative;
}
.bmsLogo span img{
    width:9vw;
}
.bmsLogo:after{
    content: "";
    position:absolute;
    margin-top:20px;
    left:0;
    width: 100%;
    height:1px;
    background:#5d5d5f;
}
.socialIcons{
    text-align: center;
}
.iconCircle{
    margin-left:10px;
    display:inline-block;
    width:30px;
    height:30px;
    border-radius: 30px;
    text-align:center;
    vertical-align: middle !important;
    background-color:#5d5d5f;
}
.iconCircle:hover{
    cursor:pointer;
    background-color:white;
}
.iconCircle i{ 
    margin-top:6px;
    font-size: 20px;;
    color:#333338
}
.wrapperContent{
    text-align:center;
    font-size:11px;
    background-color:#333338;
}
.wrapperContent p {
    margin-bottom:0px;
    color:#a5a5a5 ;
}