.seat_Title ul li , .tickets{
    color:white !important;
    list-style: none;
    font-size:13px;
    /* margin-right:5px; */
}
.tickets:hover{
    cursor:pointer;
}
.theatreName {
    color:darkgray !important;
    list-style: none;
    font-size:13px;
}
.seat_Title ul{
    margin-left:-42px;
}
.svgLeftArrow{
    width:17px;
    fill:white;
    color:red;
}
.howmany{
    text-align:center;
}
.vehicle{
    width:100px;
}
.vehicle3, .vehicle2, .vehicle4 {
    display: none;
    width:100px;
}

.persons div{
    display: inline;
    padding:13px;
    border-radius: 2px;
}
.persons div:hover{
    background-color: #2DC492;
    cursor:pointer;
}
.price div{
    display: inline-block;
    font-size:x-small;
    margin-left:-30px !important;
    margin-right:20px;
}
.price div ul{
    list-style: none;
    font-size: x-small;
}
.price div ul li:nth-child(2){
        font-weight: 600
}
.price div ul li:nth-child(3){
    color:green;
}
.seat_timings ul{
    list-style: none;
    font-size:13px;
}
.showtime{
    margin-right:5px;
}
.seatsCount{
    width:60vw;
    margin-top:3vh;
    margin-left:24vw;
}
.seatCategory{
    font-size:12px;
}
.line{
    height:0.85px;
    background-color:#999999;
    margin-bottom: 8px;
    max-width:49vw;
}
.rowName{
    font-size:medium;
    margin-right:5px !important;
    color:#6E6E6E;
}
.seatNumber{
    margin: 3px 1px;
    float: left;
    width: 22px;
    border: 1px solid;
    border-radius: 6px;
    padding: 0px 1px 0px 1px;
    line-height: 20px;
    font-size: 10.5px;
    text-align: center;
    margin-left:4px;
    color:#6E6E6E
}
.dummyseatNumber{
    display: none;
}
.gold_dummyseat{
    margin-left:52px;
}
.silver_dummyseat{
    margin-left:39px;
}
.seatNumber:hover{
    cursor:pointer;
    background-color:#7CCDAE !important;
}
.screenIconDiv{
    margin-top:25px;
    text-align: center;
}
.screenIcon{
    width:26vw;
}
.screenIconDiv p{
    margin-top:5px;
    font-size:13px;
}
.payRs{
    text-align: center !important;
}
.pay{
    margin-top:10px;
    margin-bottom:10px;
}
.green{
    background-color:mediumseagreen !important;
}
.proceedButton{
    float: right;
    margin-top: 36vh;
    margin-right: 10vw;
}