.titleCard{
    /* background-image:url('//in.bmscdn.com/iedb/movies/images/website/banner/large/aravinda-sametha-veera-raghava-et00076100-21-05-2018-12-36-19.jpg'); */
    height:45vh !important;
    color:white !important;
    position:relative;
}
.titleCardImg{
    width:100%;
    height:45vh;
    float:left;
}
.titleCard::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(14,20,34,.5);  
}
.mDate2{
    display:inline-block;
}
.censor{
    display:inline-block;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    padding: 7px;
    border: 1px solid grey;
    height:45px;
    width:45px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.theatreSchedulePanel{
    width:97vw;
    height:47px;
    margin-left:10px;
    background-color: white;
}
.theatreTitleInfo{
    position:absolute;
    margin: auto;
    bottom: 0;
    left: 3vw;
    margin-bottom: 5px;
}
.theatreTitleInfo p {
    display:inline;
}
.theatreTitle{
    font-size:xx-large;
    /* font-weight:700; */
    margin-bottom:8px !important;
    /* display: inline-block; */
}
.theatreTitle:hover{
    text-decoration-line: underline !important;
    cursor:pointer;
}
.mDate2 span i {
    margin-right:3px;
}
.mDate2 span{
    margin-left:20px;
}
.crew{
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
}
.crewInfo{
    display:inline-block;
}
.crewInfo_person{
    display:inline-block;
}
.crewInfo div div img, .dirInfo div div img{
    border-radius:50%;
    height:50px;
    width:50px;
}
.crewInfo , .dirInfo {
    font-size:13px !important;
    margin-bottom:5px;
    margin-top:5px;
    color:#CAC7C8;
    margin-right:8px; 
}
.crew_name{
    margin-left:10px;
}
.actorsDiv{
    margin-left:10vw;
}
.dirName:hover{
    cursor:pointer;
}
.dirInfo{
    display: inline-block;
    margin-right:50px;
}

.dirInfo p , .crewInfo img{
    margin-right:20px;
}
.abb{
    background-color:#F2F2F2;
}
.datenumber{
    font-size:17px;
    font-weight: 600;
}
.day{
    font-size:12px;
}
.dayScheduleDate{
    display: inline-block;
    text-align: center;
    border-radius: 10%;
   
    width:58px;
    font-size:15px;
    /* margin-top:8px; */
    /* margin-bottom:8px; */
}
.dayScheduleDate:hover{
    background-color: #49BA8E;
    color:white;
    cursor:pointer;
}
.borderRight{
    /* border-left: 1px solid darkgray; */
    border-right: 1px solid darkgray;
}
.theatreFilter{
    margin-top:10px;
    display: inline-block;
    margin-right:25px;
}
.theatreList{
    padding:10px;
    margin-left: 40px;
    margin-right: 10%;
}
.theatreItem{
    background-color: white;
    margin-bottom:4px;
    font-size:12px;
    padding:20px;
}
.thetreBox, .heart, .theatreName , .inofIcon{
    display: inline-block;
}
.infoIcon{
    display:inline;
    margin-left:5px;
}
.infoIcon img, .heart img{
    width: 15px;
}
.heart{
    margin-left:8px;
    margin-right:5px;
}
.thetreBox{
    margin-left:15px;
}
.timingBox{
    margin-left:60px;
    display: inline-block;
}
.timingBox div{
    margin-top:12px;
}
.timingBox a span a {
    /* margin-right: 8px; */
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color:#0078FF!important;
    padding: 12px;
    border: 1px solid grey;
}
.phoneIco{
    fill:#4F9C45;
    width:25px;
    display: inline-block;
    margin-left:25px;
    margin-right:6px;
    margin-top:10px;
}
.mTicket{
    display:inline;
}
.theatreTiming span a {
    margin-right:15px;
}
.cancelCircle{
    border-radius: 100%;
    border: 1px solid #FFC610;
    width: 9px;
    height: 9px;
    background-color: #FFC610;
    display: inline-block;
    margin-right:6px;
}
.latestMovies{
    font-size: 12px;
    margin-top:25px;
    margin-bottom:25px;
    font-weight:600;
}
.latestMovies p {
    margin-bottom:2px;
    margin-left:1vw;
}
.latestMovies p a{
    cursor: pointer;
}